.reveal .slides section {
    height: 100%;
    text-align: left;
    padding: 0 !important;
}
.slide1 {
    background-color: #ffffff;
}

.full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    max-width: none !important;
    max-height: none !important;
}
.full-width {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
    max-width: none !important;
    max-height: none !important;
}
.banner {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
}

.reveal .banner h1,
.reveal article h1 {
    background-color: #4D7FE4;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 1.2;
    padding: 10px 20px;
    font-weight: 900;
}
.reveal .banner h2,
.reveal article h2 {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
    background-color: #333333;
}


.icon {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 100px;
    margin: 0px auto;
    right: 0;
    box-shadow: 0px 2px 3px #000;
}

article {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding: 20px;
}

article img {
    width: 100%;
    max-width: none;
    max-height: none;
}

.reveal article p,
.reveal .caption {
    font-family: 'Merriweather', georgia;
    color: #333333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0 20px 30px 20px;
}

.reveal .caption {
    color: #999999;
    font-size: 10px;
    margin: 10px 20px 20px 20px;
}

.scrollable {
    bottom: 0px;
    overflow-y: auto  !important;
    overflow-x: hidden !important;
}

@-webkit-keyframes lol {
  0%   { width: 100%; height: 100%; }
  100% { width: 200%; height: 200%; margin-top: -200px; }
}
@-moz-keyframes lol {
  0%   { width: 100%; height: 100%; }
  100% { width: 200%; height: 200%; margin-top: -200px; }
}
@-o-keyframes lol {
  0%   { width: 100%; height: 100%; }
  100% { width: 200%; height: 200%; margin-top: -200px; }
}
@keyframes lol {
  0%   { width: 100%; height: 100%; }
  100% { width: 200%; height: 200%; margin-top: -200px; }
}

.reveal .zoomify {
  -webkit-animation: lol 2s infinite; /* Safari 4+ */
  -moz-animation:    lol 2s infinite; /* Fx 5+ */
  -o-animation:      lol 2s infinite; /* Opera 12+ */
  animation:         lol 2s infinite; /* IE 10+, Fx 29+ */
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}


.reveal .banner--fgm h1 {
    background-color: #3C165F;
    color: #FFF;
}

.reveal .banner--octo {
    top: 300px;
    transform: rotate(-6deg);
    width: 120%;
    left: -5%;
}

.reveal .banner--octo h1 {
    background-color: #E4E24D;
}

.reveal .banner--octo h1,
.reveal .banner--octo h2 {
    padding-left: 7%;
    padding-right: 17%;
}

.reveal .banner--date {
    top: 20px;
    width: 70%;
    right: 20px;
    left: auto;
    text-align: right
}

.reveal .banner--date h1 {
    background-color: #4ECD39;
}

.reveal .banner--kids {
    top: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0px auto
}

.reveal .banner--kids h1 {
    background-color: #B00000;
    color: #ffffff;
}
.reveal .banner--sportsball {
    top: 186px;
    transform: rotate(3deg) skewX(-1deg);
    width: 120%;
    left: -5%;
}

.reveal .banner--sportsball h1 {
    background-color: #C29D3F;
}

.reveal .banner--sportsball h1,
.reveal .banner--sportsball h2 {
    padding-left: 7%;
    padding-right: 17%;
}

.logo {
    position: absolute;
    bottom: 50px;
    width: 90px;
    opacity: 0.2;
    left: 0;
    right: 0;
    margin: 0px auto !important;
}